body {
  background-color: #030303;
}

.App {
  display: flex;
}

.chat_container {
  margin: auto;
  margin-top: 5%;
  flex: 4;
  height: 80vh;
  /* width: 80%; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.table_component {
  margin: auto;
  margin-top: 5%;
  color: antiquewhite;
  flex: 8;
  height: 80vh;
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.message_context {
  height: 15vh;
  background-color: #393E46;
  border-top: 1px solid black;
}

.message_container {
  flex-grow: 1;
  overflow: auto;
  padding: 1%;
  scrollbar-width: thin;
  align-content: flex-end;
  background-color: #393E46;
  border-radius: 15px 10px 0 0;

}

.message_inputs {
  display: flex;
  align-items: baseline;
}

.message_text {
  flex: 10;
}

.message_action {
  flex: 2;
}

.message {
  display: flex;
  margin-top: 1%;
}

.message_body {
  width: fit-content;
  max-width: 70%;
  overflow-wrap: break-word;
  padding: 2%;
  border-radius: 15px;
  overflow-x: auto;
}

.message_align_left {
  justify-content: flex-start;
}

.message_align_right {
  justify-content: flex-end;
}

.message_body_left {
  background-color: lightgray;
}

.message_body_right {
  background-color: aquamarine;
}